extends layout

block content
    div#new_editor
        div#outline
            h2 利用ガイドライン
        div#detail_inner
            section
                h3 利用する際の決まり
                p 自分が参加できないことが作成時からわかっているミーティングは作成しないでください。
                    br
                    |また、自分が参加表明していたミーティングに参加できないことがわかった場合、参加表明は早めに取り消しましょう。
                p 「参加する」と表明していたにもかかわらずミーティングに参加しない行為が繰り返された場合、運営事務局で利用規約に抵触していると判断し、そのユーザーの利用制限等を実施する可能性があります。
            section
                h3 マナー
                p ミーティング作成後に参加できなくなった場合は、自分以外に参加表明をしている人がいないか確認し、もし他に参加者がいた場合はミーティング自体は削除せず残しておくことを推奨します。
                    br
                    |作成者でも参加表明を取り消すことができるので、その機能を利用してください。
            section
                h3 不明点があったら
                p なにか不明な点があったときや、不適切と思われる内容が載っていたとき、ガイドライン違反かもしれない行為を見かけたときは、運営者に連絡・相談してください。
