doctype html
html(lang="ja")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    // Twitter card
    meta(name="twitter:card" content="summary")
    meta(property="og:title" content=title)
    meta(property="og:discription" content="")
    meta(property="og:image" content="/images/site-tile-310x310.png")
    link(rel="stylesheet", href="/stylesheets/normalize.css" type="text/css")
    link(rel="stylesheet", href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css")
    link(rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" href="/images/icon-192x192.png")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  body
    header
      h1
        a(href="/") SyncMeet(仮)
      div#icon_area
        if session.passport
          img#user(src=`${session.passport.user.photos[0].value}`)
    div.menu#user_window
      a(href="/mymeeting") 行くミーティング
      a(href="/setting") 設定
      a(href="/logout") ログアウト
    block content
    footer
      div.footer-inner
        a(href="/help/terms") 利用規約・プライバシーポリシー
        a(href="/help/guideline") 利用ガイドライン
        a(href="/help/usage") 使い方
    script(src="/javascripts/script.js")
