extends layout

block content
    div#new_editor
        div#outline
            h2 利用規約・プライバシーポリシー
        div#detail_inner
            section
                h3 利用規約
                p この規約は、「SyncMeet」(以下「本サービス」)の利用条件について定めるものです。本規約に同意した上で本サービスをご利用ください。
                p ■利用者が未成年者である場合には、親権者その他法定代理人の同意を得た上で本サービスをご利用ください。未成年の利用者が、法定代理人の同意がないにもかかわらず同意があると偽り、または年齢について成年であると偽った場合、またその他行為能力者であることを詐術を使って信じさせた場合、本サービスにおける一切の法律行為を取り消すことはできません。
                p ■利用者情報については、当事務局が別途定めるプライバシーポリシーに則り、適正に扱うこととします。
                p ■本サービスの利用に際し、次に掲げる行為を禁止します。当事務局が、利用者が禁止事項に違反したと認めた場合、当事務局は該当利用者の本サービス利用停止、投稿内容の削除等、必要と判断した措置をとることができるものとし、利用者はそれに同意するものとします。
                ol
                    li 法令または公序良俗に反する行為
                    li 犯罪行為に関連する行為
                    li 本サービスに含まれる著作権他の知的財産権を侵害する行為
                    li 本サービスにおいて得た情報を商業的に利用する行為
                    li 当事務局のサービス運営を妨害する恐れがある行為
                    li 不正アクセスをする、または試みる行為
                    li 他の利用者に関する個人情報等を収集または蓄積する行為
                    li 不正な目的をもって当サービスを利用する行為
                    li 本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
                    li 他の利用者に成りすます行為
                    li 当サービス上での宣伝、広告、勧誘、営業行為
                    li 利用者が以下の情報を投稿すること
                        ol(type="a")
                            li 第三者の権利及び財産に対して損害を与える可能性がある情報
                            li 第三者に対して有害な情報または第三者を身体的、心理的に傷つける情報
                            li 犯罪や不法行為、危険行為に属する情報及びそれらを教唆、幇助する情報
                            li 不法、有害、脅迫、虐待、人種差別、中傷、名誉毀損、侮辱、ハラスメント、扇動、不快を与えることを意図する、またはそのような結果を生じさせる恐れのある内容の情報
                            li 利用者自身にコントロールの権利がない情報
                            li 第三者の著作権を含む知的財産権及びその他の財産権を侵害する情報、公共の利益または個人の権利を侵害する情報
                            li 猥褻、児童ポルノまたは児童虐待にあたる画像、文章等の情報
                            li 医師法などの法令に違反する情報
                            li その他当事務局が不適切と判断する情報
                    li その他、当事務局が不適切と判断する行為
                p ■利用者が、本サービス上に投稿その他の方法で送信したコンテンツに関する著作権については、利用者に帰属するものとします。ただし、利用者は、本サービス内では、著作者人格権を行使しないものとします。
                p ■当事務局は、本サービスに送信されたコンテンツを無償かつ非独占的に使用できるものとします。
                p ■本サービスの利用によって生じたいかなる損害についても、当事務局は責任を負いません。
                p ■当事務局は、利用者に通知することなく、本サービスの内容の変更、または本サービスの提供の中止をすることができるものとし、これによって利用者に生じた損害について一切の責任を負いません。
                p ■前々項及び前項の規定は、当事務局に故意または重過失が存在する場合または利用者が消費者契約法上の消費者に該当する場合は適用しません。
                p ■当事務局は、利用者の承諾を得ることなく、いつでも本規約の内容を改定することができるものとします。
                p ■本規約の有効性・解釈及び履行については、日本法に遵守し、日本法に従って解釈されるものとします。なお、この規約に関して訴訟が生じた場合、訴額に応じて、大阪簡易裁判所または大阪地方裁判所を専属的合意管轄裁判所とします。
                p 2019年3月6日　施行

            section
                h3 プライバシーポリシー
                p ■当事務局は、利用者の情報端末から、製品モデル、情報端末の設定、IPアドレス、その他の情報端末固有の識別子等の情報を取得することがあります。
                p ■当事務局は、本サービスに関連して取得した利用者情報を本サービスの運営に必要な範囲で利用します。
                p ■当事務局は、事前に本人の同意なく第三者に利用者情報を提供いたしません。ただし、法令に定めのある場合は除きます。
                p ■本サービスでは、一部のコンテンツについてCookie（クッキー）を利用しています。Cookieはサイトにアクセスした際にブラウザに保存される情報です。個人情報は含まれません。ブラウザの設定により、Cookieを使用しないようにすることも可能ですが、その場合サービスの一部が利用できない場合があります。
                p ■本方針の内容は予告なく変更される場合があります。
                p 2019年3月6日　施行
