extends layout

block content
    div#new_editor
        div#outline
            h2 使い方
        div#detail_inner
            section
                h3 ミーティングの新規作成
                ol
                    li TOPページ右下の「+」ボタンを押します。
                    li 店舗、時間、コメントを入力します。コメントはなくても作成できますが、やりたいことや意気込み等、入力してみましょう。
                    li 「ミーティングを作る！」ボタンを押します。これでミーティングの作成は完了です。
            section
                h3 ミーティングの削除
                ol
                    li 削除したいミーティングのページへアクセスします。なお、自分が作成したミーティングはこちらのページで一覧を見ることができます。
                    li 一番下までスクロールし、「ミーティングを削除する」ボタンを押します。なお、このボタンは自分が作成したミーティング以外では表示されません。
            section
                h3 参加表明
                ol
                    li 参加したいミーティングをクリックします。
                    li 下までスクロールします。参加する、と表明したい場合は「自分も行く！」ボタンを、参加するかも、と表明したい場合は「自分も行くかも」ボタンを押します。
                        br
                        |また、すでに参加する・参加するかもと表明しているミーティングでは、「参加表明を取り消す」ボタンを押すことで参加表明を取り消すことができます。
            section
                h3 プライベートミーティングについて
                p イベント作成時、「フォロワー限定公開にする」にチェックを入れると、「プライベートミーティング」を作成できます。
                    br
                    | プライベートミーティングは、作成者(あなた)のTwitterアカウントのフォロワーのみが店舗や時間、コメントを閲覧したり、参加表明をしたりすることができます。
                p プライベートミーティングへの参加表明者がミーティング作成者のフォローを解除した場合は、そのミーティングのみ引き続き詳細の閲覧・参加表明をすることができます。
            section
                h3 プレイヤー名の設定
                    span.advanced &#43;&#945;
                p プレイヤー名の設定は任意ですが、円滑にマルチプレイを行うため、ぜひ設定してみてください。
                    br
                    |設定されたプレイヤー名はミーティング作成時に一覧画面・詳細画面に表示されます。
                ol
                    li 画面右上のTwitterアイコンをクリックします。
                    li 表示されるメニューで上から二番目の"設定"をクリックします。
                    li テキストエリアにラウンジのプレイヤー名を入力し、「設定」ボタンを押します。
